
# MANIFEST.in

# Include requirements file
include requirements.txt

# Include README file
include README.md

# Include LICENSE file
include LICENSE

# Include users manual
include Users_manual.docx

# Include any other necessary files (like examples or documentation)
recursive-include examples *
recursive-include docs *
